/* got rid of default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.myDiv{
    /* margin-left: 1000px; */
    width:50%;
    display: flex;
    padding: 2rem;
    margin-left: auto;
    justify-content: space-around;
    /* background-color: tomato; */

}
.menu{

}
.myDiv a{
    color:white;
    font-weight: 700;
    text-decoration: none;
}
body{
    background-color: rgb(170, 209, 198);
    width: 100%;
    height: 100vh;
    
}
